@using Front_GroceryToDo.Models
@using Front_GroceryToDo.Data.impl
@using Front_GroceryToDo.Data
@using System.ComponentModel
@using System.Text.Json
@inject IRecordsService RecordsService
@inject NavigationManager NavManager

@if (!Items.Any())
{
    <p>
        <em>The list is empty.</em>
    </p>
}
else
{
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Details</th>
            <th>Quantity</th>
            <th>Weight</th>
            <th>Units</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td>
                    <button @onclick="() => CompleteChange(item)">@ButtonName</button>
                </td>
                <td>@item.Name</td>
                <td>@item.Details</td>
                @if (item.Quantity != 0)
                {
                    <td>@item.Quantity</td>
                }
                else
                {
                    <td></td>
                }
                @if (item.Weight != 0)
                {
                    <td>@item.Weight</td>
                }
                else
                {
                    <td></td>
                }
                @if (item.Unit == null || item.Unit.Equals("none"))
                {
                    <td></td>
                }
                else
                {
                    <td>@item.Unit</td>
                }
                <td>
                    <button @onclick="() => MoreButtonClicked(item.Id)" class="oi oi-menu"></button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    [Parameter]
    public string ButtonName { get; set; }

    [Parameter]
    public List<Item> Items { get; set; }

    [Parameter]
    public GroceryList GroceryListInstance { get; set; }

    private async Task CompleteChange(Item item)
    {
        item.IsCompleted = !item.IsCompleted;
        await RecordsService.UpdateItemInRecordAsync(item);
        await GroceryListInstance.Reload();
    }

    private void MoreButtonClicked(int id)
    {
        NavManager.NavigateTo($"/ItemDetails/{id}");
    }

}